[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
django-bootstrap4 = "==22.3"
requests = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
